<h2>Eventos</h2>
<hr>
<div class="form-inline" >
  <div class="form-group mb-2">
    <label class="mr-2">Filtro : </label>
    <input
        [(ngModel)]="filtroLista"
        type="text"
        class="form-control mr-2"
        placeholder="Buscar"
    />
    <br />

    <button class="btn btn-outline-success">Buscar</button>
  </div>
</div>
<hr />
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button
        type="button"
        class="btn btn-outline-light btn-sm"
          (click)="alterarImagem()"
        >
          {{ mostrarImagem == true ? 'Hide' : 'Show' }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados" >
      <td>
        <img [collapse]="!mostrarImagem"
        [isAnimated]="true"
         src="assets/{{evento.imagemURL}}"
         alt="{{ evento.imagemURL }}"
          [style.width.px]="larguraImagem"
          [style.margin.px]="margemImagem"
         />
      </td>
        <td>{{ evento.eventoId }}</td>
        <td>{{ evento.tema }}</td>
        <td>{{ evento.local }}</td>
        <td>{{ evento.dataEvento }}</td>
        <td>{{ evento.qtdPessoas }}</td>
        <td>{{ evento.lote }}</td>
        <td>
          <button class="btn btn-primary btn-sm mr-2">
           <i class="fa fa-edit"></i> Editar
          </button>

          <button class="btn btn-danger btn-sm">
            <i class="fa fa-trash"></i> Excluir</button>
        </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <tr>
      <td colspan="8">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

