<div class="row mt-4">
  <div class="col-md-6 d-none d-md-block" style="height: 450px">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de Usuário</h1>
      <img
        src="../../../../assets/registerImage.png"
        class="my-4"
        alt=""
        width="400px"
      />
    </div>
  </div>

  <div class="col-md-6">
    <form [formGroup]="form" class="p-1" (ngSubmit)="register()">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input
            type="text"
            class="form-control"
            formControlName="primeiroNome"
            [ngClass]="{'is-invalid':f.primeiroNome.errors && f.primeiroNome.touched}"
            placeholder="Insira o Primeiro nome"
          />
          <div class="invalid-feedback" *ngIf="f.primeiroNome.errors?.required">
            Campo Obrigatório
          </div>
        </div>

        <div class="form-group col-sm-6">

          <label>Último nome</label>
          <input
            type="text"
            class="form-control"
            formControlName="ultimoNome"
            [ngClass]="{'is-invalid':f.ultimoNome.errors && f.ultimoNome.touched}"
            placeholder="Insira o Último nome"
          />
          <div class="invalid-feedback" *ngIf="f.ultimoNome.errors?.required">
            Campo Obrigatório
          </div>
        </div>

      </div>

      <div class="form-group">
        <label for="">Email:</label>
        <input
          class="form-control"
          formControlName="email"
          [ngClass]="{'is-invalid':f.email.errors && f.email.touched}"
          type="text"
          placeholder="Insira o Nome Completo"
        />
        <div class="invalid-feedback" *ngIf="f.email.errors?.required">
          Campo Obrigatório
        </div>
        <div class="invalid-feedback" *ngIf="f.email.errors?.email">
          E-mail inválido
        </div>
      </div>


      <div class="form-group">
        <label for="">Usuario:</label>
        <input
          class="form-control"
          formControlName="userName"
          [ngClass]="{'is-invalid':f.userName.errors && f.userName.touched}"
          type="text"
          placeholder="Insira o nome de Usuário"
        />
        <div class="invalid-feedback" *ngIf="f.userName.errors?.required">
          Campo Obrigatório
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">password:</label>
          <input
            class="form-control"
            formControlName="password"
            [ngClass]="{'is-invalid':f.password.errors && f.password.touched}"
            type="password"
            placeholder="Digite uma password"
          />
          <div class="invalid-feedback" *ngIf="f.password.errors?.required">
            Campo Obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.password.errors?.minlength">
            Deve conter no mínimo 6 caracteres
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="">Confirmar Password:</label>
          <input
            class="form-control"
            formControlName="confirmePassword"
            [ngClass]="{'is-invalid':f.confirmePassword.errors && f.confirmePassword.touched}"
            type="password"
            placeholder="Confirme a Password"
          />
          <div class="invalid-feedback" *ngIf="f.confirmePassword.errors?.required">
            Campo Obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.confirmePassword.errors?.mustMatch">
            Senhas não conferem
          </div>
        </div>

      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck1"
          />
          <label class="custom-control-label"
            >Eu concordo com os <a href="#">Termos de Uso</a>.</label
          >
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button  [disabled]="!form.valid" class="btn btn-lg btn-success btn-block px-5" type="submit">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
